<%- include("header") -%>

  <div class="box" id="heading">
    <h1> Felicidade </h1>
  </div>

  <div class="box">

    
      Tu negocio ha sido dado de alta.
      <a href="/">Ir a la página principal para verlo</a>
      
  </div>

<%- include("footer") -%>
